@forward 'globals'; // globals/_index.scss

.material-symbols-outlined {
  font-variation-settings: 'FILL' 1, 'wght' 400, 'GRAD' 0, 'opsz' 48;
}

body {
  // width: min();
  margin: 0 auto;
  // height: 3000px;
  color: #000;

  // footer 고정
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

img {
  width: 100%;
}

.stackoverflow-logo {
  width: 150px;
  height: 30px;
}

@mixin flexCenter {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
a {
  text-decoration: none;
  color: inherit;
}

// header
.header {
  position: fixed;
  width: 100%;
  box-shadow: 0 1px 2px hsla(0, 0%, 0%, 0.05), 0 1px 4px hsla(0, 0%, 0%, 0.05),
    0 2px 8px hsla(0, 0%, 0%, 0.05);
  background-color: #f8f9f9;

  &__layout {
    width: 90%;
    max-width: 1300px;
    min-width: auto;
    margin: 0 auto;
    padding: 10px;
    @include flexCenter();
  }

  &__products {
    font-size: 14px;
    padding: 3px 4px;
    &:hover {
      background-color: #e3e6e8;
    }
  }

  &__search {
    display: flex;
    gap: 10px;
    margin-right: 8px;
    padding: 3px 4px;
    width: 60%;
    border: 0.1px solid rgb(136, 126, 126);
    border-radius: 4px;
    background-color: #fff;
  }

  &__profile {
    @include flexCenter();

    &-img {
      margin-right: 2px;
      padding: 2px 7px;
      border-radius: 3px;
      color: #fff;
      background-color: #0097a7;
    }
  }

  &__list-icons {
    @include flexCenter();
    gap: 18px;
  }
}
.main-container {
  display: flex;
  width: calc(100% - 164px);
}

// layout
.layout {
  // display: grid;
  // grid-template-columns: 200px 600px 350px;
  display: flex;
  padding-top: 80px;
  width: 100%;
  max-width: 1264px;
  margin: 0 auto;
  // padding-left: 250px;
}

.left-sidebar {
  width: 164px;
  position: sticky;
  height: 100%;
  top: 80px;
  border-right: 1px dashed #e3e6e8;

  &__nav {
    &-links {
      display: flex;
      flex-direction: column;

      &--home {
        padding: 10px 10px 10px 10px;
        background-color: #f1f2f3;
        font-size: 13px;
        font-weight: 700;
        border-right: 3px solid #ff0000;
      }

      &--public {
        font-size: 13px;
        color: hsl(210, 8%, 45%);

        &-items {
          padding: 10px 10px 10px 10px;

          &-logo {
            padding-left: 5px;
            font-size: 20px;
          }
        }
      }
    }
  }
}
.flex {
  display: flex;

  &-col {
    flex-direction: column;
  }
}

.collective {
  &__nav {
    margin-bottom: 20px;
    &-title {
      display: flex;
      justify-content: space-between;
      padding: 10px 10px 10px 10px;
      color: hsl(210, 8%, 45%);
      text-transform: uppercase;
      font-size: 13px;

      &--info-favicon {
        font-size: 16px;
      }
    }

    &-list-title {
      display: flex;
      align-items: center;
      color: hsl(210, 8%, 45%);
      font-size: 14px;

      &--favicon {
        padding-right: 5px;
        // margin-right: 2px;
        font-size: 20px;
        color: #ff0000;
      }
    }
  }
}

.main {
  //

  //
  width: 100%;
  margin-right: 16px;
  border-left: 1px solid #e3e6e8;

  &__top {
    margin-bottom: 16px;
    &-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 10px;
      padding: 0 0 10px 10px;
    }
    &-ask-btn {
      padding: 10px 8px;
      color: #fff;
      background-color: #0a95ff;
      border-radius: 4px;
      font-size: 13px;

      &:hover {
        background-color: #0074cc;
      }
    }

    &-interesting-tags {
      &-list {
        display: flex;
        justify-content: end;
        // margin-left: 0;
      }

      &-items {
        padding: 8px 12px;
        border-radius: 5px;
        border: 1px solid rgba(0, 0, 0, 0.357);
        color: #6a737c;
        font-size: 13px;

        &:nth-child(1) {
          color: #3b4045;
          background-color: #e3e6e8;
        }

        &:nth-child(2) {
          display: flex;
          gap: 5px;
        }

        &--number {
          padding: 2px 5px;
          border-radius: 4px;
          color: #fff;
          background-color: #0074cc;
          font-size: 11px;
        }
      }
    }
  }
  // questions
  &__question {
    border-top: 1px solid #e3e6e8;
    border-left: 1px solid #e3e6e8;

    &-container {
      display: flex;

      padding: 16px 10px 30px 50px;
      // border: 1px solid red;
      background-color: #fdf7e2;
    }

    &-datas {
      text-align: right;
      margin-right: 10px;
      font-size: 13px;

      &-items {
        margin-bottom: 5px;
        color: #6a737c;

        &:nth-child(1) {
          color: #000;
        }
      }
    }

    &-summary {
      width: 90%;
    }
    &-title {
      h3 {
        margin-bottom: 6px;
        color: #0a95ff;
        font-size: 17px;
        font-weight: 400;
      }
    }

    &-tags-list {
      display: flex;
      justify-content: flex-start;
      align-items: center;
    }

    &-tags {
      margin-bottom: 5px;
      // border: 1px solid green;

      &-items {
        display: flex;
        align-items: center;
        margin-right: 5px;
        padding: 3px 6px;
        border-radius: 2px;
        background-color: #d0e3f1;
        font-size: 12px;
        color: #39739d;

        &:hover {
          opacity: 0.7;
        }

        &-visible {
          font-size: 16px;
          margin-right: 3px;
        }
      }
    }
    // main__question end

    &-author-data {
      display: flex;
      align-items: center;
      font-size: 12px;

      &--user-profile {
        width: 16px;
        border-radius: 50%;
      }

      display: flex;
      justify-content: flex-end;
      gap: 6px;

      &--name {
        display: flex;
        align-items: center;
        color: #0a95ff;
      }

      &--asked-time {
        color: #6a737c;
      }
    }
  }
  .hidden-max-width900px {
    margin-top: 50px;

    a {
      color: #0a95ff;
      cursor: pointer;
    }
  }
  // main end
}

// right sidebar
.right-sidebar {
  width: 400px;
  margin-bottom: 30px;

  &__posts {
    // width: 100%;
    &-container {
      margin-bottom: 20px;
      box-shadow: 0 1px 2px hsla(0, 0%, 0%, 0.05),
        0 1px 4px hsla(0, 0%, 0%, 0.05), 0 2px 8px hsla(0, 0%, 0%, 0.05);
    }
  }
}

// right sidebar posts
// overflow blog
.overflow-blog {
  &__posts {
    &-title {
      border-top: 0.1px solid #ff0000;
      border-bottom: 0.1px solid #ff0000;
      h2 {
        background-color: #fbf3d5;
        padding: 12px 15px;
        font-size: 12px;
      }
    }

    &-paragraph {
      &--container {
        display: flex;
        // margin: 12px 0;
        padding: 12px 16px;
        font-size: 13px;
        background-color: #fdf7e2;
        &-img {
          width: 12px;
          height: 12px;
          margin-right: 5px;
        }

        i {
          color: #9ea6ae;
        }

        &-number {
          margin-right: 5px;
        }
      }

      &--edit-btn {
        font-size: 13px;
        margin-right: 5px;
      }
    }
  }
}

// right sidebar custom filters
.custom-filters {
  margin-bottom: 20px;
  box-shadow: 0 1px 2px hsla(0, 0%, 0%, 0.05), 0 1px 4px hsla(0, 0%, 0%, 0.05),
    0 2px 8px hsla(0, 0%, 0%, 0.05);

  &__title {
    padding: 12px 15px;
    background-color: #f8f9f9;
    font-size: 15px;
    font-weight: 400;
    border-top: 0.1px solid #9ea6ae;
    border-bottom: 0.1px solid #9ea6ae;
  }

  &__paragraph {
    padding: 12px 15px;
    font-size: 13px;
    a {
      color: #0074cc;
    }
  }
}

// right sidebar watched tags
// watched tags
.watched-tags {
  margin-bottom: 20px;
  box-shadow: 0 1px 2px hsla(0, 0%, 0%, 0.05), 0 1px 4px hsla(0, 0%, 0%, 0.05),
    0 2px 8px hsla(0, 0%, 0%, 0.05);

  &__container {
    display: flex;
    justify-content: space-between;
    background-color: #f8f9f9;
    border-top: 0.1px solid #9ea6ae;
    border-bottom: 0.1px solid #9ea6ae;
    &--title {
      padding: 12px 15px;

      font-size: 15px;
      font-weight: 400;
    }
  }

  &__list {
    padding: 12px 15px;

    &--flex-wrap {
      display: flex;
      flex-wrap: wrap;
    }

    &--items {
      margin: 2px 2px 6px 0;
      padding: 4.8px 6px;
      color: #39739d;
      background-color: #d0e3f1;
      font-size: 12px;
      border-radius: 4px;

      &:hover {
        opacity: 0.7;
        cursor: pointer;
      }
    }
  }
  .edit-btn {
    color: #79776c;
    cursor: pointer;
  }
}

// ignored tags
.ignored-tags {
  margin-bottom: 20px;
  box-shadow: 0 1px 2px hsla(0, 0%, 0%, 0.05), 0 1px 4px hsla(0, 0%, 0%, 0.05),
    0 2px 8px hsla(0, 0%, 0%, 0.05);

  &__title {
    padding: 12px 15px;
    background-color: #f8f9f9;
    font-size: 15px;
    font-weight: 400;
    border-top: 0.1px solid #9ea6ae;
    border-bottom: 0.1px solid #9ea6ae;
  }

  &__paragraph {
    padding: 12px 1px;
    display: flex;
    justify-content: center;

    &--add-ignored-tags {
      margin: 0 65px;
      padding: 9.6px;
      border-radius: 4px;
      font-size: 12px;
      color: #39739d;
      background-color: #d0e3f1;

      &:hover {
        opacity: 0.7;
        cursor: pointer;
      }
    }
  }
}

// collectives
.collectives {
  margin-bottom: 20px;
  box-shadow: 0 1px 2px hsla(0, 0%, 0%, 0.05), 0 1px 4px hsla(0, 0%, 0%, 0.05),
    0 2px 8px hsla(0, 0%, 0%, 0.05);

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 15px;
    background-color: #f8f9f9;
    border-top: 0.1px solid #9ea6ae;
    border-bottom: 0.1px solid #9ea6ae;

    &--title {
      font-size: 15px;
      font-weight: 400;
    }

    &--see-all-btn {
      font-size: 11px;
      color: #0074cc;
    }
  }

  &__list {
    padding: 12px 15px;
    border-bottom: 0.1px solid #9ea6ae;

    &:last-child {
      border-bottom: none;
    }

    &-content {
      display: flex;
    }

    &-logo--img {
      margin-right: 12px;
      width: 32px;
      height: 32px;
    }

    &-data {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      margin-bottom: 8px;

      &--name {
        font-size: 15px;
        color: #6a737c;
      }

      &--members {
        font-size: 12px;
        color: #3b4045;
      }

      &--join-btn {
        padding: 9.6px;
        color: #0074cc;
        border: 1px solid #0074cc;
        border-radius: 5px;
        font-size: 12px;
      }

      &--paragraph {
        font-size: 13px;
        color: #3b4045;

        // 말 줄임표
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
      }
    }
  }
}

// Hot Network Questions
.network-ques {
  margin-bottom: 19.5px;

  &__title {
    margin-bottom: 19px;
    font-size: 19px;
    font-weight: 400;
  }

  &__contents {
    display: flex;
    margin-bottom: 10px;

    &-img {
      width: 16px;
      height: 16px;
      margin: 2px 6px 0 0;
    }

    &-paragraph {
      color: #0074cc;
      font-size: 12px;

      &:hover {
        color: rgb(47, 121, 190);
      }

      &:visited {
        color: #0074cc;
      }
    }
  }
}

.recent-ques-feed {
  display: flex;
  align-items: center;
  &__img {
    width: 16px;
    height: 16px;
    margin: 2px 6px 0 0;
  }

  &__link {
    color: #0074cc;
    font-size: 14px;

    &:hover {
      color: rgb(47, 121, 190);
    }

    &:visited {
      color: #0074cc;
    }
  }
}

// footer
.footer {
  margin-top: auto;

  &-container {
    display: grid;
    grid-template-columns: 1fr;
  }
  &__logo {
    width: 32px;
    height: 37px;
  }

  &-nav {
    &__col {
    }
  }
}

@media (max-width: 992px) {
  .header {
    &__layout {
      padding: 10px;
      width: 100%;
    }
  }
  .layout {
    margin-right: 0;
    // width: 100%;
    // max-width: 1100px;
  }
  .main-container {
    display: block;
  }

  .main {
    margin-right: 0px;
  }
  .right-sidebar {
    width: 100%;
    margin-top: 20px;
    padding: 10px;

    &__posts {
      width: 100%;
    }
  }
}

@media (max-width: 640px) {
  .left-sidebar {
    display: none;
  }
  .header {
    &__search {
      display: none;
    }
  }
  // .layout {
  //   width: 100%;
  // }
  .main-container {
    width: 100%;
  }
}
