@use '../util' as u;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  color: var(--white);
}

html,
body,
#root {
  max-width: 100vw;
  max-height: 100vh;

  width: 100%;
  height: 100%;
}

*,
button,
input {
  border: 0;
  background: none;
  font-family: u.$font;
}

html {
  background: var(--primary);
}
