@use '../util' as u;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  // max-width: 100vw;
  // max-height: 100vh;

  // width: 100%;
}
html {
  height: 100%;
}

b *,
button,
input {
  border: 0;
  background: none;
  font-family: u.$font;
}

ul,
ol,
li {
  list-style: none;
}
